<shared-header></shared-header>

<velox-home-carousel></velox-home-carousel>

<velox-marcas></velox-marcas>

<section id="servicios">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-12 col-lg-10 text-center">
                <div class="row justify-content-center py-5">
                    <div class="col-6 col-lg-3 pb-5 pb-lg-0">
                        <a href="https://wa.me/5491171663425?text=Me interesa saber más sobre mécanica integral" target="_blank">
                            <img src="assets/icons/mecanica-integral.svg">
                            <h3>MECÁNICA<br>INTEGRAL</h3>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3 pb-5 pb-lg-0">
                        <a href="https://wa.me/5491171663425?text=Me interesa saber más sobre servicio express" target="_blank">
                            <img src="assets/icons/servicio-express.svg">
                            <h3>SERVICIO<br>EXPRESS</h3>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3">
                        <a href="https://wa.me/5491171663425?text=Me interesa saber más sobre el servicio de chapa y pintura" target="_blank">
                            <img src="assets/icons/chapa-pintura.svg">
                            <h3>CHAPA<br>Y PINTURA</h3>
                        </a>
                    </div>
                    <div class="col-6 col-lg-3">
                        <a href="https://wa.me/5491171663425?text=Me interesa saber más sobre companías de seguro" target="_blank">
                            <img src="assets/icons/seguros.svg">
                            <h3>COMPANÍAS<br>DE SEGURO</h3>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="quienes-somos">
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center py-5">
            <div class="col-12 col-lg-10">
                <div class="row justify-content-center py-0 py-lg-5">
                    <div class="col-12">
                        <p><strong>Somos un centro de posventa especializado en la reparación de autos de alta gama, con una trayectoria sólida y responsabilidad por la excelencia.</strong></p>
                        <br>
                        <p>Cuidamos lo que te mueve, comprometidos a brindar la mejor atención y cuidado al vehiculo.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section id="galeria">
    <div class="container-fluid">
        <div class="row justify-content-center pt-5">
            <div class="col-12 col-lg-10">
                <h2 class="main-title">GALERIA</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-center">
            <div class="col-12 p-0">
                <img src="assets/slide-servicio.jpg" alt="" class="img-fluid w-100">
                <img src="assets/galeria-2.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section> -->

<section id="contacto">
    <div class="container-fluid">
        <div class="row justify-content-center py-5">
            <div class="col-12 col-lg-10">
                <h2 class="main-title">CONTACTO</h2>
            </div>
        </div>
        <div class="row justify-content-center align-items-center pb-5">
            <div class="col-12 col-lg-10">
                <div class="row justify-content-center pb-5">
                    <div class="col-12 col-lg-6">
                        <div class="form">
                            <form id="contactForm" method="post" novalidate>
                                <div class="mb-3 form-floating">
                                    <input type="nombre" class="form-control" id="nombre" placeholder="Nombre y Apellido">
                                    <label for="nombre">Nombre y Apellido</label>
                                </div>
                                <div class="mb-3 form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="nombre@example.com">
                                    <label for="email">Su email</label>
                                </div>
                                <div class="mb-3 form-floating">
                                    <input type="telefono" class="form-control" id="telefono" placeholder="nombre@example.com">
                                    <label for="telefono">Su teléfono</label>
                                </div>
                                <div class="mb-3 form-floating">
                                    <textarea class="form-control" name="mensaje" style="height: 200px" placeholder="Consulta" required></textarea>
                                    <label for="telefono">Mensaje</label>
                                </div>
                                <button type="button" name="submit" id="submit" class="btn btn-primary btn-lg text-white float-end">ENVIAR</button>
                            </form>
                            <div id="sent-form-msg"></div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mt-5 mt-lg-0">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5117.041157320564!2d-58.498888378649966!3d-34.56468619761968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb6f0956dfbc1%3A0xa0a4eedcd983eaff!2sAv%20Triunvirato%205859%2C%20C1431%20Villa%20Urquiza%2C%20Cdad.%20Aut%C3%B3noma%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1727304245036!5m2!1ses!2sar"
                            width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        <div class="info-contacto float-end text-end mt-2">
                            <a href="https://maps.app.goo.gl/Y8eVyX6mVbU6PkTf9" class="text-decoration-none py-1" target="_blank">Av. Triunvirato 5859, CABA</a><br>
                            <a href="https://wa.me/+5491171663425" class="text-decoration-none py-1" target="_blank">T.: +54.9.11.7166.3425</a>
                            <a href="mailto:recepcion@velox.com.ar" class="text-decoration-none py-1" target="_blank"> / {{ 'recepcion@velox.com.ar' }}</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<shared-footer></shared-footer>