<footer>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-11 align-self-center">


                <div class="row justify-content-center py-5">
                    <div class="col-12 col-xl-2 text-center text-lg-start">
                        <div class="d-flex align-items-center justify-content-center justify-content-lg-start">
                            <div class="pe-3"><img src="assets/logo-velox-simple.svg" alt="Velox" class="w-100 logo-footer"></div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-4 text-center text-lg-start py-5 py-lg-0 px-0 px-lg-5 nosotros">
                        <h2 class="footer-title">QUIENES SOMOS</h2>
                        <p>Somos un centro de posventa especializado en la reparación de autos de alta gama, con una trayectoria sólida y responsabilidad por la excelencia. Cuidamos lo que lo que te mueve, comprometidos a brindar la mejor atención y cuidado
                            al vehiculo.</p>
                    </div>
                    <div class="col-12 col-xl-3 text-center text-lg-start py-5 py-lg-0 ps-0 ps-lg-5 border-start border-secondary">
                        <ul class="list-unstyled footer-menu">
                            <li><a href="#quienes-somos">• Quienes Somos</a></li>
                            <li><a href="#servicios">• Servicios</a></li>
                            <li><a href="#contacto">• Usados</a></li>
                            <li><a href="#contacto">• Venta</a></li>
                            <li><a href="#contacto">• Compra</a></li>
                            <li><a href="#contacto">• Contacto</a></li>
                        </ul>
                    </div>
                    <div class="col-12 col-xl-3 info-contacto border-start border-secondary">
                        <div class="row">
                            <div class="col-12 py-1">
                                <div class="d-flex">
                                    <div class="px-3">
                                        <i i-bs name="geo-alt-fill" width="30" height="30">
                                        </i>
                                    </div>
                                    <div class="flex-shrink-1">
                                        <h5>Dirección</h5>
                                        <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-50-hover" href="https://maps.app.goo.gl/Y8eVyX6mVbU6PkTf9" target="_blank"> <span>Av Triunvirato 5859, CABA - Argentina</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 py-1">
                                <div class="d-flex">
                                    <div class="px-3">
                                        <i i-bs name="whatsapp" width="30" height="30"></i>
                                    </div>
                                    <div class="flex-shrink-1">
                                        <h5>WhatsApp </h5>
                                        <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-50-hover" href="https://wa.me/+5491171663425"> <span>+5491171663425 </span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 py-1">
                                <div class="d-flex">
                                    <div class="px-3">
                                        <i i-bs name="envelope-fill" width="30" height="30"></i>
                                    </div>
                                    <div class="flex-shrink-1">
                                        <h5>Email</h5>
                                        <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-50-hover" href="mailto:recepcion@velox.com.ar"> <span>{{ 'recepcion@velox.com.ar' }}</span></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 py-1">
                                <div class="d-flex">
                                    <div class="px-3">
                                        <i i-bs name="instagram" width="30" height="30"></i>
                                    </div>
                                    <div class="flex-shrink-1">
                                        <h5>Instagram </h5>
                                        <a class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-50-hover" href="https://www.instagram.com/velox.servicio.premium" target="_blank"> <span>{{'@'}}velox.servicio.premium </span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>

<a href="https://wa.me/5491171663425" target="_blank" class="button-whatsapp"><i i-bs name="whatsapp" width="40" height="40"></i></a>